html {
  font-family: "Arial Black";
  background-color: #191919;
}

body {
  width: 950px;
  min-width: 950px;
  margin: 0 auto;
  background: #494942;
}

h1 {
  font-size: 30px;
  color: #006600;
  text-align: left;
  margin-top: 26px;
}

nav {
  background-color: #191919;
  display: flex;
  height: 100px;
  margin-top: 10px;
}

div.header {
  float: left;
  width: 63%;
}

div.headerright {
  float: right;
  width: 37%;
}

a {
  color: #006600;
}
.left {
  float: left;
}

.mid {
  margin-left: 40px;
}

.right {
  float: right;
  margin-right: 10px;
}

.personal {
  display: block;
  color: #f5f5dc;
  text-align: center;
}

header {
  color: #f5f5dc;
  font-size: 23px;
  border-bottom: 1px solid lightgray;
  margin-top: 20px;
}

table {
  border: 1px solid black;
}

th {
  background-color: #f5f5dc;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

p {
  color: #f5f5dc
}

label {
  color: #f5f5dc;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 2px solid #377ba8;
}

.subs form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.subs input {
  margin-bottom: 15px;
}

input[type=submit] {
  align-self: start;
  min-width: 60px;
  font-size: 20px;
}

select {
  font-size: 20px;
  margin-top: 15px;
  margin-right: 25px;
}

td.WON {
  color: green;
}

td.PENDING {
  color: darkblue;
}

td.TIE {
  color: darkblue;
}

td.LOST {
  color: #990000;
}

tr.even {
  background-color: #CC9999;
}

tr.odd {
  background-color: #add8e6;
}

td.pagelink:hover {
  background-color: #6699CC;
}
